# Configuration file

"character reset" {
    B:"Should CF Masteries be removed on character reset?"=true
    B:"Should Custom Auras be removed on character reset?"=true
    B:"Should Custom Forms be removed on character reset?"=true
}


"discord button" {
    # Discord URL for the button in the stat sheet. If it's empty it will show the Addon's discord [default: https://discord.com/invite/pQqRTvFeJ5]
    S:URL=https://discord.com/invite/pQqRTvFeJ5
}


"form removal" {
    B:"Should custom form mastery be removed on form removal unless specified otherwise in a script?"=true
}


npc {
    B:"DBC Display Enabled by Default"=false
    B:"DBC Stats Enabled by Default"=false

    # This is the max hurt resistance time for NPCs when damaged with DBC Damage. DBC Default is 1
    I:"Max Hurt Resistance Time for NPCs when damaged with DBC Damage"=0

    # This makes it so NPCs can be damaged faster with DBC Damage. DBC Default
    B:"Should NPCs have modified hurt resistance time when damaged with DBC Damage?"=true

    # Turning this off could break Ki Resistance on NPCs
    B:"Should the melee resistance on NPCs work against DBC Damage?"=true
}


