# Configuration file

voz {
    # Alcance normal (bloques)
    D:radiusNormal=16.0

    # Alcance del grito (bloques)
    D:radiusShout=24.0

    # Alcance del susurro (bloques)
    D:radiusWhisper=8.0
}


